/* navigation bar  */
#navbar {
    flex-direction: column;
}
#navbar ul li a{
    color: white;
    font-size: 1rem;
    padding: 0px 7px;
}
    
/* home  */
#home{
    height: 400px;
    padding: 62px 103px 1px
}
#home::before{
    height:465px;
}
#home p{
    font-size: 5px;
    color: rgb(252, 248, 5);
}

/* culture  */
#culture{
    flex-direction: column;
}
#culture .box{
    border: 2px solid brown;
    padding: 0px;
    margin: 2px;
    border-radius: 5px;
    background-color: #ffe6e3;
}
#culture .box img {
    height: 62px;
    display: block;
    margin: auto;
}


/* history */
#history{
    margin: 0px;
}
#history .box{
    padding: 12px;
    margin: 31px 138px;
}
/* animation */

/* client */
#clients{
   flex-wrap: wrap;
}
#culture .box img {
    height: 49px;
    display: block;
    margin: auto;
}
#clients img{
    width: 6px;
    padding: 6px;
}
/* food section  */
#carouselExampleControlsNoTouching .carousel-item img {
    height: 230px;
    left: 15%;
}
#foodcard{
    flex-direction: column;
}
/* utility section  */
.h-primary{
    font-size:1rem;
}
.h-secondary {
    font-size: 1rem;
    padding: 6px;
}
.btn {
    font-size: 3px;
    padding: 2px 3px;
}
